<div class="container">
  <div class="row i-am-centered top-buffer">
      <div class="jumbotron">
        <h2 class="display-4"><%=@item.name.capitalize%></h2>
        <table>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Category</th>
              <td><%=@item.category.capitalize%></td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td><%=@item.item_type.capitalize%></td>
            </tr>
            <tr>
              <th scope="row">Color</th>
              <td><%=@item.color.capitalize%></td>
            </tr>
          </tbody>
        </table>
        <p class="top-buffer-xs"></p>
        <p class="btn btn-outline-info btn-block "><a href="/items/<%=@item.slug%>/edit">Edit Item</a></p>

        <form method="post" action="/items/<%=@item.slug%>/delete">
          <input id="hidden" type="hidden" name="_method" value="DELETE">
          <input type="submit" class="btn btn-outline-info btn-block" value="Delete Item">
        </form>

        <p class="top-buffer-xs"></p>
        <p class="btn btn-outline-info btn-block "><a href="/items">MyItems</a></p>

<!--
        <a href="/items/<%=@item.slug%>/edit">Edit Item</a><br>
        <a href="/items/new">Add an Item</a>

          <form method="post" action="/items/<%=@item.slug%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-outline-info" value="Delete Item">
          </form> -->
        </div>
      </div>
  </div>
</div>
